Label {
    -fx-color: brown;
}


.button{
    -fx-background-color:"white";
    -fx-border-radius: 10px;
    -fx-text-alignment: center;
}

.button:hover {
    -fx-background-color: #d2d2d2;
    -fx-cursor: hand;
}

TextField{
    -fx-alignment: center ;
    -fx-text-fill: -fx-text-inner-color;
    -fx-highlight-fill: derive(-fx-control-inner-background,-20%);
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
    -fx-cursor: text;
    -fx-padding: 0.333333em 0.583em 0.333333em 0.583em; /* 4 7 4 7 */
}